<html><head><meta charset="utf-8"></meta></head><body><h1 class="article-title" style="text-align:center;">Spring Boot Hello World(Thymeleaf)示例</h1><div style="width:100%;float:left;" class="article-content">   
 <p>这是一个Spring Boot Web应用示例，使用嵌入式Tomcat + Thymeleaf模板引擎，并将其作为可执行JAR文件。</p> 
 <p>使用的相关技术：</p> 
 <ul> 
  <li>Spring Boot 1.4.2.RELEASE</li>
  <li>Spring 4.3.4.RELEASE</li>
  <li>Thymeleaf 2.1.5.RELEASE</li>
  <li>Tomcat Embed 8.5.6</li>
  <li>Maven 3</li>
  <li>Java 8</li>
 </ul> 
 <h2 id="h2-1-"><a name="1. 项目目录" class="reference-link"></a><span class="header-link octicon octicon-link"></span>1. 项目目录</h2>
 <p>手动创建以下文件夹目录结构：<br><img src="http://www.yiibai.com/uploads/images/201703/2203/765140351_37001.png" alt=""></p> 
 <h2 id="h2-2-"><a name="2. 项目依赖" class="reference-link"></a><span class="header-link octicon octicon-link"></span>2. 项目依赖</h2>
 <p>声明 <code>spring-boot-starter-thymeleaf</code>以获得开发Spring + Thymeleaf Web应用程序所需的任何程序类库。</p> 
 <p>参考如下 <code>pom.xml</code> 文件 - </p> 
 <pre><code class="lang-xml">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;project xmlns="http://maven.apache.org/POM/4.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/POM/4.0.0
    http://maven.apache.org/xsd/maven-4.0.0.xsd"&gt;
    &lt;modelVersion&gt;4.0.0&lt;/modelVersion&gt;

    &lt;artifactId&gt;spring-boot-web-thymeleaf&lt;/artifactId&gt;
    &lt;packaging&gt;jar&lt;/packaging&gt;
    &lt;name&gt;Spring Boot Web Thymeleaf 示例&lt;/name&gt;
    &lt;description&gt;Spring Boot Web Thymeleaf 示例描述&lt;/description&gt;
    &lt;url&gt;http://www.yiibai.com&lt;/url&gt;
    &lt;version&gt;1.0&lt;/version&gt;

    &lt;parent&gt;
        &lt;groupId&gt;org.springframework.boot&lt;/groupId&gt;
        &lt;artifactId&gt;spring-boot-starter-parent&lt;/artifactId&gt;
        &lt;version&gt;1.4.2.RELEASE&lt;/version&gt;
    &lt;/parent&gt;

    &lt;properties&gt;
        &lt;java.version&gt;1.8&lt;/java.version&gt;
    &lt;/properties&gt;

    &lt;dependencies&gt;

        &lt;dependency&gt;
            &lt;groupId&gt;org.springframework.boot&lt;/groupId&gt;
            &lt;artifactId&gt;spring-boot-starter-thymeleaf&lt;/artifactId&gt;
        &lt;/dependency&gt;

        &lt;!-- hot swapping, disable cache for template, enable live reload --&gt;
        &lt;dependency&gt;
            &lt;groupId&gt;org.springframework.boot&lt;/groupId&gt;
            &lt;artifactId&gt;spring-boot-devtools&lt;/artifactId&gt;
            &lt;optional&gt;true&lt;/optional&gt;
        &lt;/dependency&gt;

        &lt;!-- Optional, for bootstrap --&gt;
        &lt;dependency&gt;
            &lt;groupId&gt;org.webjars&lt;/groupId&gt;
            &lt;artifactId&gt;bootstrap&lt;/artifactId&gt;
            &lt;version&gt;3.3.7&lt;/version&gt;
        &lt;/dependency&gt;

    &lt;/dependencies&gt;

    &lt;build&gt;
        &lt;plugins&gt;
            &lt;!-- Package as an executable jar/war --&gt;
            &lt;plugin&gt;
                &lt;groupId&gt;org.springframework.boot&lt;/groupId&gt;
                &lt;artifactId&gt;spring-boot-maven-plugin&lt;/artifactId&gt;
            &lt;/plugin&gt;
        &lt;/plugins&gt;
    &lt;/build&gt;
&lt;/project&gt;
</code></pre> 
 <p>显示项目依赖关系：</p> 
 <blockquote> 
  <p>提示： spring-boot-devtools<br>这个spring-boot-devtools有助于禁用缓存并启用热插拔，以便开发人员总是看到最后的更改。 有利于发展。 阅读这篇 - Spring Boot - 开发工具。尝试修改Thymeleaf模板或属性文件，刷新浏览器以查看更改立即生效。</p> 
 </blockquote> 
 <h2 id="h2-3-spring-boot"><a name="3. Spring Boot" class="reference-link"></a><span class="header-link octicon octicon-link"></span>3. Spring Boot</h2>
 <p>使用<code><a target="_blank" href="https://github.com/SpringBootApplication" title="@SpringBootApplication" class="at-link">@SpringBootApplication</a></code>进行注释。 运行此类来启动Spring Boot Web应用程序。</p> 
 <p><em>SpringBootWebApplication.java</em></p> 
 <pre><code class="lang-java">package com.yiibai;

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class SpringBootWebApplication {

    public static void main(String[] args) throws Exception {
        SpringApplication.run(SpringBootWebApplication.class, args);
    }

}
</code></pre> 
 <p>一个简单的Spring控制器类： <em>WelcomeController.java</em> 代码如下 -</p> 
 <pre><code class="lang-java">package com.yiibai;

import java.util.Map;

import org.springframework.beans.factory.annotation.Value;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

@Controller
public class WelcomeController {

    // inject via application.properties
    @Value("${welcome.message:test}")
    private String message = "Hello World";

    @RequestMapping("/")
    public String welcome(Map&lt;String, Object&gt; model) {
        model.put("message", this.message);
        return "welcome";
    }

}
</code></pre> 
 <h2 id="h2-4-thymeleaf-"><a name="4. Thymeleaf +资源+静态文件" class="reference-link"></a><span class="header-link octicon octicon-link"></span>4. Thymeleaf +资源+静态文件</h2>
 <p>对于<code>Thymeleaf</code>模板文件，放入 <code>src/main/resources/templates/</code> 目录下, <code>src/main/resources/templates/welcome.html</code> 文件代码如下 -</p> 
 <pre><code class="lang-html">&lt;!DOCTYPE HTML&gt;
&lt;html xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
&lt;title&gt;Spring Boot Thymeleaf Hello World示例&lt;/title&gt;
&lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /&gt;

&lt;link rel="stylesheet" type="text/css"
    href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" /&gt;

&lt;link rel="stylesheet" th:href="@{/css/main.css}"
    href="../../css/main.css" /&gt;

&lt;/head&gt;
&lt;body&gt;

    &lt;nav class="navbar navbar-inverse"&gt;
        &lt;div class="container"&gt;
            &lt;div class="navbar-header"&gt;
                &lt;a class="navbar-brand" href="#"&gt;Spring Boot&lt;/a&gt;
            &lt;/div&gt;
            &lt;div id="navbar" class="collapse navbar-collapse"&gt;
                &lt;ul class="nav navbar-nav"&gt;
                    &lt;li class="active"&gt;&lt;a href="#"&gt;首页&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href="#about"&gt;关于&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/nav&gt;

    &lt;div class="container"&gt;

        &lt;div class="starter-template"&gt;
            &lt;h1&gt;Spring Boot Web Thymeleaf示例&lt;/h1&gt;
            &lt;h2&gt;
                &lt;span th:text="'Message: ' + ${message}"&gt;&lt;/span&gt;
            &lt;/h2&gt;
        &lt;/div&gt;

    &lt;/div&gt;
    &lt;!-- /.container --&gt;

    &lt;script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"&gt;&lt;/script&gt;

&lt;/body&gt;
&lt;/html&gt;
`
</code></pre> 
 <p>对于静态文件，如CSS或Javascript，将它们放入 <code>/src/main/resources/static/</code> 目录， <code>/src/main/resources/static/css/main.css</code>文件代码如下 -</p> 
 <pre><code class="lang-css">h1{
    font-size: 20pt;
}
h2{
    font-size: 16pt;
}
</code></pre> 
 <p>对于属性文件，放入 <code>/src/main/resources/</code> 目录中， <code>/src/main/resources/application.properties</code> 文件中的代码内容如下 -</p> 
 <pre><code class="lang-bash">welcome.message: Hello, Spring Boot
</code></pre> 
 <blockquote> 
  <p><strong> 注意:</strong> 阅读此Spring Boot服务静态内容以了解资源映射。</p> 
 </blockquote> 
 <h2 id="h2-5-"><a name="5. 运行演示" class="reference-link"></a><span class="header-link octicon octicon-link"></span>5. 运行演示</h2>
 <p>启动Spring Boot Web应用程序，使用Maven命令：<code>mvn spring-boot:run</code>，运行结果输出结果如下 -</p> 
 <pre><code class="lang-shell">F:\worksp\springboot\spring-boot-web-thymeleaf &gt; mvn spring-boot:run
... ....

Downloaded: http://repo.maven.apache.org/maven2/commons-io/commons-io/1.3.2/commons-io-1.3.2.jar (86 KB at 1.4 KB/sec)
Downloaded: http://repo.maven.apache.org/maven2/org/apache/commons/commons-compress/1.9/commons-compress-1.9.jar (370 KB at 5.9 KB/sec)
Downloaded: http://repo.maven.apache.org/maven2/org/jdom/jdom/1.1/jdom-1.1.jar (150 KB at 2.3 KB/sec)
Downloaded: http://repo.maven.apache.org/maven2/org/sonatype/sisu/sisu-guice/2.1.7/sisu-guice-2.1.7-noaop.jar (461 KB at 6.8 KB/sec)
Downloaded: http://repo.maven.apache.org/maven2/com/google/guava/guava/18.0/guava-18.0.jar (2204 KB at 15.6 KB/sec)
[INFO] Attaching agents: []

  .   ____          _            __ _ _
 /\\ / ___'_ __ _ _(_)_ __  __ _ \ \ \ \
( ( )\___ | '_ | '_| | '_ \/ _` | \ \ \ \
 \\/  ___)| |_)| | | | | || (_| |  ) ) ) )
  '  |____| .__|_| |_|_| |_\__, | / / / /
 =========|_|==============|___/=/_/_/_/
::Spring Boot::       (v1.4.2.RELEASE)

2017-03-22 02:45:51.162  INFO 5284 --- [  restartedMain] com.yiibai.SpringBootWebApplication      : Starting SpringBootWebApplication on MY-PC with PID 5284 (F:\worksp\springboot\web-thymeleaf\target\classes started by Administrator in F:\worksp\springboot\web-thymeleaf)
2017-03-22 02:45:51.162  INFO 5284 --- [  restartedMain] com.yiibai.SpringBootWebApplication      : No active profile set, falling back to default profiles: default
2017-03-22 02:45:51.740  INFO 5284 --- [  restartedMain] ationConfigEmbeddedWebApplicationContext : Refreshing org.springframework.boot.context.embedded.AnnotationConfigEmbeddedWebApplicationContext@e33d3c1: startup date [Wed Mar 22 02:45:51 CST 2017]; root of context hierarchy
2017-03-22 02:45:57.190  INFO 5284 --- [  restartedMain] s.b.c.e.t.TomcatEmbeddedServletContainer : Tomcat initialized with port(s): 8080 (http)
2017-03-22 02:45:57.221  INFO 5284 --- [  restartedMain] o.apache.catalina.core.StandardService   : Starting service Tomcat
2017-03-22 02:45:57.221  INFO 5284 --- [  restartedMain] org.apache.catalina.core.StandardEngine  : Starting Servlet Engine: Apache Tomcat/8.5.6
2017-03-22 02:45:57.471  INFO 5284 --- [ost-startStop-1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2017-03-22 02:45:57.471  INFO 5284 --- [ost-startStop-1] o.s.web.context.ContextLoader            : Root WebApplicationContext: initialization completed in 5731 ms
2017-03-22 02:45:57.815  INFO 5284 --- [ost-startStop-1] o.s.b.w.servlet.ServletRegistrationBean  : Mapping servlet: 'dispatcherServlet' to [/]
2017-03-22 02:45:57.830  INFO 5284 --- [ost-startStop-1] o.s.b.w.servlet.FilterRegistrationBean   : Mapping filter: 'characterEncodingFilter' to: [/*]
2017-03-22 02:45:57.846  INFO 5284 --- [ost-startStop-1] o.s.b.w.servlet.FilterRegistrationBean   : Mapping filter: 'hiddenHttpMethodFilter' to: [/*]
2017-03-22 02:45:57.846  INFO 5284 --- [ost-startStop-1] o.s.b.w.servlet.FilterRegistrationBean   : Mapping filter: 'httpPutFormContentFilter' to: [/*]
2017-03-22 02:45:57.846  INFO 5284 --- [ost-startStop-1] o.s.b.w.servlet.FilterRegistrationBean   : Mapping filter: 'requestContextFilter' to: [/*]
2017-03-22 02:45:58.867  INFO 5284 --- [  restartedMain] s.w.s.m.m.a.RequestMappingHandlerAdapter : Looking for @ControllerAdvice: org.springframework.boot.context.embedded.AnnotationConfigEmbeddedWebApplicationContext@e33d3c1: startup date [Wed Mar 22 02:45:51 CST 2017]; root of context hierarchy
2017-03-22 02:45:59.115  INFO 5284 --- [  restartedMain] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/]}" onto public java.lang.String com.yiibai.WelcomeController.welcome(java.util.Map&lt;java.lang.String, java.lang.Object&gt;)
2017-03-22 02:45:59.115  INFO 5284 --- [  restartedMain] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/error]}" onto public org.springframework.http.ResponseEntity&lt;java.util.Map&lt;java.lang.String, java.lang.Object&gt;&gt; org.springframework.boot.autoconfigure.web.BasicErrorController.error(javax.servlet.http.HttpServletRequest)
2017-03-22 02:45:59.115  INFO 5284 --- [  restartedMain] s.w.s.m.m.a.RequestMappingHandlerMapping : Mapped "{[/error],produces=[text/html]}" onto public org.springframework.web.servlet.ModelAndView org.springframework.boot.autoconfigure.web.BasicErrorController.errorHtml(javax.servlet.http.HttpServletRequest,javax.servlet.http.HttpServletResponse)
2017-03-22 02:45:59.193  INFO 5284 --- [  restartedMain] o.s.w.s.handler.SimpleUrlHandlerMapping  : Mapped URL path [/webjars/**] onto handler of type [class org.springframework.web.servlet.resource.ResourceHttpRequestHandler]
2017-03-22 02:45:59.193  INFO 5284 --- [  restartedMain] o.s.w.s.handler.SimpleUrlHandlerMapping  : Mapped URL path [/**] onto handler of type [class org.springframework.web.servlet.resource.ResourceHttpRequestHandler]
2017-03-22 02:45:59.286  INFO 5284 --- [  restartedMain] o.s.w.s.handler.SimpleUrlHandlerMapping  : Mapped URL path [/**/favicon.ico] onto handler of type [class org.springframework.web.servlet.resource.ResourceHttpRequestHandler]
2017-03-22 02:46:10.440  INFO 5284 --- [  restartedMain] o.s.b.d.a.OptionalLiveReloadServer       : LiveReload server is running on port 35729
2017-03-22 02:46:10.721  INFO 5284 --- [  restartedMain] o.s.j.e.a.AnnotationMBeanExporter        : Registering beans for JMX exposure on startup
2017-03-22 02:46:14.581  INFO 5284 --- [  restartedMain] s.b.c.e.t.TomcatEmbeddedServletContainer : Tomcat started on port(s): 8080 (http)
2017-03-22 02:46:14.597  INFO 5284 --- [  restartedMain] com.yiibai.SpringBootWebApplication      : Started SpringBootWebApp
</code></pre> 
 <p>运行成功后，打浏览器访问： <a target="_blank" href="http://localhost:8080">http://localhost:8080</a> ，没有问题应该会看到以下输出页面 -</p> 
 <p><img src="http://www.yiibai.com/uploads/images/201703/2203/352150311_71039.png" alt=""></p> 
 <h2 id="h2-6-jar"><a name="6. 构建可执行JAR" class="reference-link"></a><span class="header-link octicon octicon-link"></span>6. 构建可执行JAR</h2>
 <p>打包项目以创建可执行的JAR文件。使用Maven命令：<code>mvn clean package</code>， </p>   
 <pre><code class="lang-shell">F:\worksp\springboot\spring-boot-web-thymeleaf&gt; java -jar target/spring-boot-web-thymeleaf-1.0.jar
</code></pre> 
 <p>运行成功后，打浏览器再次访问： <a target="_blank" href="http://localhost:8080">http://localhost:8080</a> ，没有问题应该会看到以下输出页面 -</p> 
 <p><img src="http://www.yiibai.com/uploads/images/201703/2203/352150311_71039.png" alt=""></p>
 <br>      
</div></body></html>