<html><head><meta charset="utf-8"></meta></head><body><h1 class="article-title" style="text-align:center;">Spring4 MVC+ AngularJS CRUD使用$http实例</h1><div style="width:100%;float:left;" class="article-content">   
 <div> 
  <div> 
   <span style="line-height:1.5;">这篇文章显示了使用Spring&nbsp;MVC4整合AngularJS。</span>
   <span style="line-height:1.5;">我们将创建一个使用后端和AngularJS作为前端的纯JSP封装Spring&nbsp;REST&nbsp;API一个CRUD应用程序，</span>
   <span style="line-height:1.5;">&nbsp;</span>
   <span style="line-height:1.5;">使用 $http 服务与服务器异步通信。我们还将进行使用UI&nbsp;AngularJS表单验证各种验证。</span> 
  </div> 
 </div> 
 <div> 
  <hr> 
  <div>
    在我们的应用程序，客户端是基于AngularJS和服务器端是基于Spring&nbsp;REST&nbsp;API。 
  </div> 
  <p> 只是为了学习的话，你可以在这里本例中使用的模板。&nbsp;它是一个小型应用程序，这是不符合服务器交互。所以需要刷新页面重新加载数据。 </p> 
  <div>
    但是不要担心。完整应用程序将开发会在这篇文章后，进一步详细开发和讲解。 
  </div> 
  <p> 现在让我们开始！ </p> 
  <div>
    使用以下技术： 
  </div> 
  <ul> 
   <li> Spring 4.2.0.RELEASE </li> 
   <li> AngularJS 1.4.4 </li> 
   <li> Maven 3 </li> 
   <li> JDK 1.7 </li> 
   <li> Eclipse JUNO Service Release 2 </li> 
   <li> M2Eclipse plugin (Optional) </li> 
  </ul> 
  <h4> 工程目录结构 </h4> 
  <p> <img src="/uploads/tutorial/20160115/1-160115223246350.png" alt=""> </p> 
  <h4> 
   <div>
     提供相关依赖关系 
   </div> </h4> 
  <pre>&lt;project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd"&gt;
	&lt;modelVersion&gt;4.0.0&lt;/modelVersion&gt;
	&lt;groupId&gt;com.yiibai.springmvc&lt;/groupId&gt;
	&lt;artifactId&gt;Spring4MVCAngularJSExample&lt;/artifactId&gt;
	&lt;packaging&gt;war&lt;/packaging&gt;
	&lt;version&gt;1.0.0&lt;/version&gt;
	&lt;name&gt;Spring4MVCAngularJSExample Maven Webapp&lt;/name&gt;

	&lt;properties&gt;
		&lt;springframework.version&gt;4.2.0.RELEASE&lt;/springframework.version&gt;
		&lt;jackson.version&gt;2.5.3&lt;/jackson.version&gt;
	&lt;/properties&gt;

	&lt;dependencies&gt;
		&lt;dependency&gt;
			&lt;groupId&gt;org.springframework&lt;/groupId&gt;
			&lt;artifactId&gt;spring-webmvc&lt;/artifactId&gt;
			&lt;version&gt;${springframework.version}&lt;/version&gt;
		&lt;/dependency&gt;
		&lt;dependency&gt;
			&lt;groupId&gt;org.springframework&lt;/groupId&gt;
			&lt;artifactId&gt;spring-tx&lt;/artifactId&gt;
			&lt;version&gt;${springframework.version}&lt;/version&gt;
		&lt;/dependency&gt;

		&lt;dependency&gt;
			&lt;groupId&gt;com.fasterxml.jackson.core&lt;/groupId&gt;
			&lt;artifactId&gt;jackson-databind&lt;/artifactId&gt;
			&lt;version&gt;${jackson.version}&lt;/version&gt;
		&lt;/dependency&gt;
		&lt;dependency&gt;
			&lt;groupId&gt;javax.servlet&lt;/groupId&gt;
			&lt;artifactId&gt;javax.servlet-api&lt;/artifactId&gt;
			&lt;version&gt;3.1.0&lt;/version&gt;
		&lt;/dependency&gt;
		&lt;dependency&gt;
			&lt;groupId&gt;javax.servlet&lt;/groupId&gt;
			&lt;artifactId&gt;jstl&lt;/artifactId&gt;
			&lt;version&gt;1.2&lt;/version&gt;
		&lt;/dependency&gt;
		

	&lt;/dependencies&gt;
	&lt;build&gt;
		&lt;pluginManagement&gt;
			&lt;plugins&gt;
				&lt;plugin&gt;
					&lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
					&lt;artifactId&gt;maven-war-plugin&lt;/artifactId&gt;
					&lt;version&gt;2.4&lt;/version&gt;
					&lt;configuration&gt;
						&lt;warSourceDirectory&gt;src/main/webapp&lt;/warSourceDirectory&gt;
						&lt;warName&gt;Spring4MVCAngularJSExample&lt;/warName&gt;
						&lt;failOnMissingWebXml&gt;false&lt;/failOnMissingWebXml&gt;
					&lt;/configuration&gt;
				&lt;/plugin&gt;
			&lt;/plugins&gt;
		&lt;/pluginManagement&gt;

		&lt;finalName&gt;Spring4MVCAngularJSExample&lt;/finalName&gt;
	&lt;/build&gt;
&lt;/project&gt;</pre> 
  <h4> 
   <div>
     1.客户端(前端) 
   </div> </h4> 
  <p> 这里的应用程序的客户端是基于<a target="_blank" href="http://www.yiibai.com/angularjs/">AngularJS</a>。如果你想学习AngularJs，那么不访看看我们的&nbsp;<a target="_blank" href="http://www.yiibai.com/angularjs/">AngularJS教程</a>&nbsp;可让你在最流行的JavaScript框架有一个了解认识。 </p> 
  <h4> 
   <div>
     创建AngularJS模块 
   </div> </h4> 
  <p> 模块是AngularJS应用中最重要的部分。AngularJS模块你可以认为是在Java中的包。它应用程序的容器有不同部分&nbsp;-&nbsp;控制器，服务器，过滤器，指令等。AngularJS可以组合某些功能/Javascript在一起在单个模块之下。 </p> 
  <p> 模块可用于通过AngularJS来引导应用程序。&nbsp;通过传递模块名到&nbsp;ng-app&nbsp;指令，我们可以告诉AngularJS加载该模块的应用程序主入口点。 </p> 
  <p> app.js </p> 
  <pre>'use strict';
var App = angular.module('myApp',[]);</pre> 
  <h4> 
   <div>
     创建AngularJS服务和服务器进行通信 
   </div> </h4> 
  <p> 在我们的应用中，将与Spring&nbsp;REST&nbsp;API，例如基于后端服务器的方式进行通信。在基于AngularJS应用中，与服务器进行通信的首选方式是使用AngularJS内置的&nbsp;$http&nbsp;服务。&nbsp;AngularJS$&nbsp;http服务允许我们使用XHR[浏览器的XMLHttpRequest对象]&nbsp;API与服务器端点通信。 </p> 
  <p> user_service.js </p> 
  <pre>'use strict';

App.factory('UserService', ['$http', '$q', function($http, $q){
	return {
		fetchAllUsers: function() {
		return $http.get('http://localhost:8080/Spring4MVCAngularJSExample/user/')
							.then(
									function(response){
										return response.data;
									}, 
									function(errResponse){
										console.error('Error while fetching users');
										return $q.reject(errResponse);
									}
							);
			},
		    
		    createUser: function(user){
					return $http.post('http://localhost:8080/Spring4MVCAngularJSExample/user/', user)
							.then(
									function(response){
										return response.data;
									}, 
									function(errResponse){
										console.error('Error while creating user');
										return $q.reject(errResponse);
									}
							);
		    },
		    
		    updateUser: function(user, id){
					return $http.put('http://localhost:8080/Spring4MVCAngularJSExample/user/'+id, user)
							.then(
									function(response){
										return response.data;
									}, 
									function(errResponse){
										console.error('Error while updating user');
										return $q.reject(errResponse);
									}
							);
			},
		    
			deleteUser: function(id){
					return $http.delete('http://localhost:8080/Spring4MVCAngularJSExample/user/'+id)
							.then(
									function(response){
										return response.data;
									}, 
									function(errResponse){
										console.error('Error while deleting user');
										return $q.reject(errResponse);
									}
							);
			}
		
	};

}]);</pre> 
  <h4> 
   <div>
     创建AngularJS控制器 
   </div> </h4> 
  <p> 控制器是一个AngularJS应用的最有用的部分。这些是执行JavaScript函数/对象大多数用户界面相关的工作。它们可以被看作是驱动程序模型和视图的变化。它们是模型(在我们的应用程序中的数据)，和视图(无论用户看到在屏幕上以及与其交互)之间的网关。 </p> 
  <p> user_controller.js </p> 
  <pre>'use strict';

App.controller('UserController', ['$scope', 'UserService', function($scope, UserService) {
          var self = this;
          self.user={id:null,username:'',address:'',email:''};
          self.users=[];
              
          self.fetchAllUsers = function(){
              UserService.fetchAllUsers()
                  .then(
      					       function(d) {
      						        self.users = d;
      					       },
            					function(errResponse){
            						console.error('Error while fetching Currencies');
            					}
      			       );
          };
           
          self.createUser = function(user){
              UserService.createUser(user)
		              .then(
                      self.fetchAllUsers, 
				              function(errResponse){
					               console.error('Error while creating User.');
				              }	
                  );
          };

         self.updateUser = function(user, id){
              UserService.updateUser(user, id)
		              .then(
				              self.fetchAllUsers, 
				              function(errResponse){
					               console.error('Error while updating User.');
				              }	
                  );
          };

         self.deleteUser = function(id){
              UserService.deleteUser(id)
		              .then(
				              self.fetchAllUsers, 
				              function(errResponse){
					               console.error('Error while deleting User.');
				              }	
                  );
          };

          self.fetchAllUsers();

          self.submit = function() {
              if(self.user.id===null){
                  console.log('Saving New User', self.user);    
                  self.createUser(self.user);
              }else{
                  self.updateUser(self.user, self.user.id);
                  console.log('User updated with id ', self.user.id);
              }
              self.reset();
          };
              
          self.edit = function(id){
              console.log('id to be edited', id);
              for(var i = 0; i &lt; self.users.length; i++){
                  if(self.users[i].id === id) {
                     self.user = angular.copy(self.users[i]);
                     break;
                  }
              }
          };
              
          self.remove = function(id){
              console.log('id to be deleted', id);
              if(self.user.id === id) {//clean form if the user to be deleted is shown there.
                 self.reset();
              }
              self.deleteUser(id);
          };

          
          self.reset = function(){
              self.user={id:null,username:'',address:'',email:''};
              $scope.myForm.$setPristine(); //reset Form
          };

      }]);</pre> 
  <h4> 
   <div>
     Spring&nbsp;MVC应用程序的创建视图 
   </div> </h4> 
  <p> 在这里，我们在操作上有些传统，并用纯JSP封装我们上面写的所有的AngularJS代码。请注意，您可以使用其他FE技术，而不是JSP(Velocity模板为例)。我们还增加了bootstrap&nbsp;以增强其外观和感觉。此外，我们也将进行必要的表单验证。 </p> 
  <p> UserManagement.jsp </p> 
  <pre>&lt;%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1"%&gt;
&lt;%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %&gt;
&lt;html&gt;
  &lt;head&gt;  
    &lt;title&gt;AngularJS $http Example&lt;/title&gt;  
    &lt;style&gt;
      .username.ng-valid {
          background-color: lightgreen;
      }
      .username.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .username.ng-dirty.ng-invalid-minlength {
          background-color: yellow;
      }

      .email.ng-valid {
          background-color: lightgreen;
      }
      .email.ng-dirty.ng-invalid-required {
          background-color: red;
      }
      .email.ng-dirty.ng-invalid-email {
          background-color: yellow;
      }

    &lt;/style&gt;
     &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"&gt;
     &lt;link href="&lt;c:url value='/static/css/app.css' /&gt;" rel="stylesheet"&gt;&lt;/link&gt;
  &lt;/head&gt;
  &lt;body ng-app="myApp" class="ng-cloak"&gt;
      &lt;div class="generic-container" ng-controller="UserController as ctrl"&gt;
          &lt;div class="panel panel-default"&gt;
              &lt;div class="panel-heading"&gt;&lt;span class="lead"&gt;User Registration Form &lt;/span&gt;&lt;/div&gt;
              &lt;div class="formcontainer"&gt;
                  &lt;form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal"&gt;
                      &lt;input type="hidden" ng-model="ctrl.user.id" /&gt;
                      &lt;div class="row"&gt;
                          &lt;div class="form-group col-md-12"&gt;
                              &lt;label class="col-md-2 control-lable" for="uname"&gt;Name&lt;/label&gt;
                              &lt;div class="col-md-7"&gt;
                                  &lt;input type="text" ng-model="ctrl.user.username" id="uname" class="username form-control input-sm" placeholder="Enter your name" required ng-minlength="3"/&gt;
                                  &lt;div class="has-error" ng-show="myForm.$dirty"&gt;
                                      &lt;span ng-show="myForm.uname.$error.required"&gt;This is a required field&lt;/span&gt;
                                      &lt;span ng-show="myForm.uname.$error.minlength"&gt;Minimum length required is 3&lt;/span&gt;
                                      &lt;span ng-show="myForm.uname.$invalid"&gt;This field is invalid &lt;/span&gt;
                                  &lt;/div&gt;
                              &lt;/div&gt;
                          &lt;/div&gt;
                      &lt;/div&gt;
                        
                      
                      &lt;div class="row"&gt;
                          &lt;div class="form-group col-md-12"&gt;
                              &lt;label class="col-md-2 control-lable" for="address"&gt;Address&lt;/label&gt;
                              &lt;div class="col-md-7"&gt;
                                  &lt;input type="text" ng-model="ctrl.user.address" id="address" class="form-control input-sm" placeholder="Enter your Address. [This field is validation free]"/&gt;
                              &lt;/div&gt;
                          &lt;/div&gt;
                      &lt;/div&gt;

                      &lt;div class="row"&gt;
                          &lt;div class="form-group col-md-12"&gt;
                              &lt;label class="col-md-2 control-lable" for="email"&gt;Email&lt;/label&gt;
                              &lt;div class="col-md-7"&gt;
                                  &lt;input type="email" ng-model="ctrl.user.email" id="email" class="email form-control input-sm" placeholder="Enter your Email" required/&gt;
                                  &lt;div class="has-error" ng-show="myForm.$dirty"&gt;
                                      &lt;span ng-show="myForm.email.$error.required"&gt;This is a required field&lt;/span&gt;
                                      &lt;span ng-show="myForm.email.$invalid"&gt;This field is invalid &lt;/span&gt;
                                  &lt;/div&gt;
                              &lt;/div&gt;
                          &lt;/div&gt;
                      &lt;/div&gt;

                      &lt;div class="row"&gt;
                          &lt;div class="form-actions floatRight"&gt;
                              &lt;input type="submit"  value="{{!ctrl.user.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid"&gt;
                              &lt;button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine"&gt;Reset Form&lt;/button&gt;
                          &lt;/div&gt;
                      &lt;/div&gt;
                  &lt;/form&gt;
              &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="panel panel-default"&gt;
                &lt;!-- Default panel contents --&gt;
              &lt;div class="panel-heading"&gt;&lt;span class="lead"&gt;List of Users &lt;/span&gt;&lt;/div&gt;
              &lt;div class="tablecontainer"&gt;
                  &lt;table class="table table-hover"&gt;
                      &lt;thead&gt;
                          &lt;tr&gt;
                              &lt;th&gt;ID.&lt;/th&gt;
                              &lt;th&gt;Name&lt;/th&gt;
                              &lt;th&gt;Address&lt;/th&gt;
                              &lt;th&gt;Email&lt;/th&gt;
                              &lt;th width="20%"&gt;&lt;/th&gt;
                          &lt;/tr&gt;
                      &lt;/thead&gt;
                      &lt;tbody&gt;
                          &lt;tr ng-repeat="u in ctrl.users"&gt;
                              &lt;td&gt;&lt;span ng-bind="u.id"&gt;&lt;/span&gt;&lt;/td&gt;
                              &lt;td&gt;&lt;span ng-bind="u.username"&gt;&lt;/span&gt;&lt;/td&gt;
                              &lt;td&gt;&lt;span ng-bind="u.address"&gt;&lt;/span&gt;&lt;/td&gt;
                              &lt;td&gt;&lt;span ng-bind="u.email"&gt;&lt;/span&gt;&lt;/td&gt;
                              &lt;td&gt;
                              &lt;button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success custom-width"&gt;Edit&lt;/button&gt;  &lt;button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-danger custom-width"&gt;Remove&lt;/button&gt;
                              &lt;/td&gt;
                          &lt;/tr&gt;
                      &lt;/tbody&gt;
                  &lt;/table&gt;
              &lt;/div&gt;
          &lt;/div&gt;
      &lt;/div&gt;
      
      &lt;script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"&gt;&lt;/script&gt;
      &lt;script src="&lt;c:url value='/static/js/app.js' /&gt;"&gt;&lt;/script&gt;
      &lt;script src="&lt;c:url value='/static/js/service/user_service.js' /&gt;"&gt;&lt;/script&gt;
      &lt;script src="&lt;c:url value='/static/js/controller/user_controller.js' /&gt;"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</pre> 
  <h4> 2.&nbsp;服务器端 </h4> 
  <h4> 
   <div>
     创建REST控制器的Spring&nbsp;MVC应用程序 
   </div> </h4> 
  <p> 下面显示的是一个基于REST控制器。这相同于&nbsp;<a target="_blank" href="http://www.yiibai.com/spring_mvc/spring-mvc-4-restful-web-services-crud-example-resttemplate.html">Spring&nbsp;MVC中4&nbsp;RESTful&nbsp;Web服务的CRUD例子+RestTemplate</a>中的控制器。唯一的区别在于用户[模型对象]具有不同的特性，这是根据在本实例的用户界面。 </p> 
  <pre>package com.yiibai.springmvc.controller;
 
import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.HttpHeaders;
import org.springframework.http.HttpStatus;
import org.springframework.http.MediaType;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.util.UriComponentsBuilder;

import com.yiibai.springmvc.model.User;
import com.yiibai.springmvc.service.UserService;
 
@RestController
public class HelloWorldRestController {
 
    @Autowired
    UserService userService;  //Service which will do all data retrieval/manipulation work
 
    
    //-------------------Retrieve All Users--------------------------------------------------------
     
    @RequestMapping(value = "/user/", method = RequestMethod.GET)
    public ResponseEntity&lt;List&lt;User&gt;&gt; listAllUsers() {
        List&lt;User&gt; users = userService.findAllUsers();
        if(users.isEmpty()){
            return new ResponseEntity&lt;List&lt;User&gt;&gt;(HttpStatus.NO_CONTENT);//You many decide to return HttpStatus.NOT_FOUND
        }
        return new ResponseEntity&lt;List&lt;User&gt;&gt;(users, HttpStatus.OK);
    }
 
 
    
    //-------------------Retrieve Single User--------------------------------------------------------
     
    @RequestMapping(value = "/user/{id}", method = RequestMethod.GET, produces = MediaType.APPLICATION_JSON_VALUE)
    public ResponseEntity&lt;User&gt; getUser(@PathVariable("id") long id) {
        System.out.println("Fetching User with id " + id);
        User user = userService.findById(id);
        if (user == null) {
            System.out.println("User with id " + id + " not found");
            return new ResponseEntity&lt;User&gt;(HttpStatus.NOT_FOUND);
        }
        return new ResponseEntity&lt;User&gt;(user, HttpStatus.OK);
    }
 
     
     
    //-------------------Create a User--------------------------------------------------------
     
    @RequestMapping(value = "/user/", method = RequestMethod.POST)
    public ResponseEntity&lt;Void&gt; createUser(@RequestBody User user,    UriComponentsBuilder ucBuilder) {
        System.out.println("Creating User " + user.getUsername());
 
        if (userService.isUserExist(user)) {
            System.out.println("A User with name " + user.getUsername() + " already exist");
            return new ResponseEntity&lt;Void&gt;(HttpStatus.CONFLICT);
        }
 
        userService.saveUser(user);
 
        HttpHeaders headers = new HttpHeaders();
        headers.setLocation(ucBuilder.path("/user/{id}").buildAndExpand(user.getId()).toUri());
        return new ResponseEntity&lt;Void&gt;(headers, HttpStatus.CREATED);
    }
 
    
     
    //------------------- Update a User --------------------------------------------------------
     
    @RequestMapping(value = "/user/{id}", method = RequestMethod.PUT)
    public ResponseEntity&lt;User&gt; updateUser(@PathVariable("id") long id, @RequestBody User user) {
        System.out.println("Updating User " + id);
         
        User currentUser = userService.findById(id);
         
        if (currentUser==null) {
            System.out.println("User with id " + id + " not found");
            return new ResponseEntity&lt;User&gt;(HttpStatus.NOT_FOUND);
        }
 
        currentUser.setUsername(user.getUsername());
        currentUser.setAddress(user.getAddress());
        currentUser.setEmail(user.getEmail());
         
        userService.updateUser(currentUser);
        return new ResponseEntity&lt;User&gt;(currentUser, HttpStatus.OK);
    }
 
    
    
    //------------------- Delete a User --------------------------------------------------------
     
    @RequestMapping(value = "/user/{id}", method = RequestMethod.DELETE)
    public ResponseEntity&lt;User&gt; deleteUser(@PathVariable("id") long id) {
        System.out.println("Fetching &amp; Deleting User with id " + id);
 
        User user = userService.findById(id);
        if (user == null) {
            System.out.println("Unable to delete. User with id " + id + " not found");
            return new ResponseEntity&lt;User&gt;(HttpStatus.NOT_FOUND);
        }
 
        userService.deleteUserById(id);
        return new ResponseEntity&lt;User&gt;(HttpStatus.NO_CONTENT);
    }
 
     
    
    //------------------- Delete All Users --------------------------------------------------------
     
    @RequestMapping(value = "/user/", method = RequestMethod.DELETE)
    public ResponseEntity&lt;User&gt; deleteAllUsers() {
        System.out.println("Deleting All Users");
 
        userService.deleteAllUsers();
        return new ResponseEntity&lt;User&gt;(HttpStatus.NO_CONTENT);
    }
 
}</pre> 
  <h4> 
   <div>
     创建Spring&nbsp;MVC应用程序的主控制器 
   </div> </h4> 
  <div>
    这这将成为我们的主页一个简单的控制器。 
  </div>   
  <pre>package com.yiibai.springmvc.controller;

import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;

@Controller
@RequestMapping("/")
public class IndexController {

	  @RequestMapping(method = RequestMethod.GET)
	    public String getIndexPage() {
	        return "UserManagement";
	    }
}</pre> 
  <h4> 
   <div>
     创建基于Spring事务来处理用户的相关操作 
   </div> </h4> 
  <pre>package com.yiibai.springmvc.service;
import java.util.List;
import com.yiibai.springmvc.model.User;

public interface UserService {
	
	User findById(long id);
	
	User findByName(String name);
	
	void saveUser(User user);
	
	void updateUser(User user);
	
	void deleteUserById(long id);

	List&lt;User&gt; findAllUsers(); 
	
	void deleteAllUsers();
	
	public boolean isUserExist(User user);
	
}</pre> 
  <pre>package com.yiibai.springmvc.service;

import java.util.ArrayList;
import java.util.Iterator;
import java.util.List;
import java.util.concurrent.atomic.AtomicLong;

import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import com.yiibai.springmvc.model.User;

@Service("userService")
@Transactional
public class UserServiceImpl implements UserService{
	
	private static final AtomicLong counter = new AtomicLong();
	
	private static List&lt;User&gt; users;
	
	static{
		users= populateDummyUsers();
	}

	public List&lt;User&gt; findAllUsers() {
		return users;
	}
	
	public User findById(long id) {
		for(User user : users){
			if(user.getId() == id){
				return user;
			}
		}
		return null;
	}
	
	public User findByName(String name) {
		for(User user : users){
			if(user.getUsername().equalsIgnoreCase(name)){
				return user;
			}
		}
		return null;
	}
	
	public void saveUser(User user) {
		user.setId(counter.incrementAndGet());
		users.add(user);
	}

	public void updateUser(User user) {
		int index = users.indexOf(user);
		users.set(index, user);
	}

	public void deleteUserById(long id) {
		
		for (Iterator&lt;User&gt; iterator = users.iterator(); iterator.hasNext(); ) {
		    User user = iterator.next();
		    if (user.getId() == id) {
		        iterator.remove();
		    }
		}
	}

	public boolean isUserExist(User user) {
		return findByName(user.getUsername())!=null;
	}
	
	public void deleteAllUsers(){
		users.clear();
	}

	private static List&lt;User&gt; populateDummyUsers(){
		List&lt;User&gt; users = new ArrayList&lt;User&gt;();
		users.add(new User(counter.incrementAndGet(),"Sam", "NY", "sam@abc.com"));
		users.add(new User(counter.incrementAndGet(),"Tomy", "ALBAMA", "tomy@abc.com"));
		users.add(new User(counter.incrementAndGet(),"Kelly", "NEBRASKA", "kelly@abc.com"));
		return users;
	}

}</pre> 
  <h4> 创建模型 - Model </h4> 
  <pre>package com.yiibai.springmvc.model;

public class User {

	private long id;
	
	private String username;
	
	private String address;
	
	private String email;
	
	public User(){
		id=0;
	}
	
	public User(long id, String username, String address, String email){
		this.id = id;
		this.username = username;
		this.address = address;
		this.email = email;
	}

	public long getId() {
		return id;
	}

	public void setId(long id) {
		this.id = id;
	}

	public String getUsername() {
		return username;
	}

	public void setUsername(String username) {
		this.username = username;
	}

	public String getAddress() {
		return address;
	}

	public void setAddress(String address) {
		this.address = address;
	}

	public String getEmail() {
		return email;
	}

	public void setEmail(String email) {
		this.email = email;
	}

	@Override
	public int hashCode() {
		final int prime = 31;
		int result = 1;
		result = prime * result + (int) (id ^ (id &gt;&gt;&gt; 32));
		return result;
	}

	@Override
	public boolean equals(Object obj) {
		if (this == obj)
			return true;
		if (obj == null)
			return false;
		if (!(obj instanceof User))
			return false;
		User other = (User) obj;
		if (id != other.id)
			return false;
		return true;
	}

	@Override
	public String toString() {
		return "User [id=" + id + ", username=" + username + ", address=" + address
				+ ", email=" + email + "]";
	}
	

	
}</pre> 
  <h4> 
   <div>
     创建Spring配置文件类 
   </div> </h4> 
  <pre>package com.yiibai.springmvc.configuration;

import org.springframework.context.annotation.ComponentScan;
import org.springframework.context.annotation.Configuration;
import org.springframework.web.servlet.config.annotation.EnableWebMvc;
import org.springframework.web.servlet.config.annotation.ResourceHandlerRegistry;
import org.springframework.web.servlet.config.annotation.ViewResolverRegistry;
import org.springframework.web.servlet.config.annotation.WebMvcConfigurerAdapter;
import org.springframework.web.servlet.view.InternalResourceViewResolver;
import org.springframework.web.servlet.view.JstlView;

@Configuration
@EnableWebMvc
@ComponentScan(basePackages = "com.yiibai.springmvc")
public class HelloWorldConfiguration extends WebMvcConfigurerAdapter{
	
	@Override
	public void configureViewResolvers(ViewResolverRegistry registry) {
		InternalResourceViewResolver viewResolver = new InternalResourceViewResolver();
		viewResolver.setViewClass(JstlView.class);
		viewResolver.setPrefix("/WEB-INF/views/");
		viewResolver.setSuffix(".jsp");
		registry.viewResolver(viewResolver);
	}

	@Override
	public void addResourceHandlers(ResourceHandlerRegistry registry) {
		registry.addResourceHandler("/static/**").addResourceLocations("/static/");
	}

}</pre> 
  <h4> 
   <div>
     创建Spring初始化器类 
   </div> </h4> 
  <div>
    看看我们是如何注册CORS过滤器，Spring配置，这将帮助我们避免同源策略的问题。 
  </div> 
  <pre>package com.yiibai.springmvc.configuration;

import javax.servlet.Filter;

import org.springframework.web.servlet.support.AbstractAnnotationConfigDispatcherServletInitializer;

public class HelloWorldInitializer extends AbstractAnnotationConfigDispatcherServletInitializer {
 
    @Override
    protected Class&lt;?&gt;[] getRootConfigClasses() {
        return new Class[] { HelloWorldConfiguration.class };
    }
  
    @Override
    protected Class&lt;?&gt;[] getServletConfigClasses() {
        return null;
    }
  
    @Override
    protected String[] getServletMappings() {
        return new String[] { "/" };
    }
    
    @Override
    protected Filter[] getServletFilters() {
    	Filter [] singleton = { new CORSFilter() };
    	return singleton;
	}
 
}</pre> 
  <h4> 
   <div>
     创建过滤器处理同源策略相关的问题 
   </div> </h4> 
  <pre>package com.yiibai.springmvc.configuration;

import java.io.IOException;

import javax.servlet.Filter;
import javax.servlet.FilterChain;
import javax.servlet.FilterConfig;
import javax.servlet.ServletException;
import javax.servlet.ServletRequest;
import javax.servlet.ServletResponse;
import javax.servlet.http.HttpServletResponse;


public class CORSFilter implements Filter {

	public void doFilter(ServletRequest req, ServletResponse res, FilterChain chain) throws IOException, ServletException {
		System.out.println("Filtering on...........................................................");
		HttpServletResponse response = (HttpServletResponse) res;
		response.setHeader("Access-Control-Allow-Origin", "*");
		response.setHeader("Access-Control-Allow-Methods", "POST, GET, PUT, OPTIONS, DELETE");
		response.setHeader("Access-Control-Max-Age", "3600");
		response.setHeader("Access-Control-Allow-Headers", "x-requested-with, Content-Type");
		chain.doFilter(req, res);
	}

	public void init(FilterConfig filterConfig) {}

	public void destroy() {}

}</pre> 
  <h4> 
   <div>
     部署和运行 
   </div> </h4> 
  <p> 现在构建war(无论是在Eclipse中，如提到的前面的教程)或通过Maven的命令行(mvn&nbsp;clean&nbsp;install)。部署&nbsp;war&nbsp;到Servlet3.0容器。 </p> 
  <p> 打开浏览器，浏览：http://localhost:8080/Spring4MVCAngularJSExample/ </p> 
  <p> <img src="/uploads/tutorial/20160115/1-160115223A4530.png" alt=""> </p> 
  <div>
    详细填写添加一个新用户 
  </div> 
  <p> <img src="/uploads/tutorial/20160115/1-160115223G0a3.png" alt=""> </p> 
  <div>
    点击添加，用户应该以异步方式添加。 
  </div> 
  <p> <img src="/uploads/tutorial/20160115/1-160115223HSL.png" alt=""> </p> 
  <div>
    点击删除用户，用户应异步删除，这里删除了第一条。 
  </div> 
  <p> <img src="/uploads/tutorial/20160115/1-160115223J5927.png" alt=""> </p> 
  <div>
    点击编辑的用户，用户的详细信息应显示在表格。并根据需要更新详细信息。 
  </div> 
  <p> <img src="/uploads/tutorial/20160115/1-160115223P1G4.png" alt=""> </p> 
  <div>
    现在点击更新，用户应异步更新。 
  </div> 
  <p> <img src="/uploads/tutorial/20160115/1-160115223Q5O6.png" alt=""> </p> 
  <p> 由于AngularJS表单验证，如果试图不按要求提供输入，你会看到验证错误如下图所示。 </p> 
  <p> <img src="/uploads/tutorial/20160115/1-160115223S3543.png" alt=""> </p> 
  <p> 就这样(包教不包会)！ </p> 
  <h4> 下载代码：<a target="_blank" href="http://pan.baidu.com/s/1i3UgS09">http://pan.baidu.com/s/1i3UgS09</a> </h4> 
 </div>
 <br>      
</div></body></html>